
#main_slider2{overflow: hidden; padding: 80px 0; max-width: 1150px; margin: 0 auto;}

.sldier_imgBox,.layer_imgBox{background-color: var(--bg-right-gray);  width: 380px; line-height: 460px; background:  linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)),url('images/grow_right.jpg') no-repeat center/cover; position: relative; transition: .4s; z-index: 10;}
.layer_imgBox {height: 460px;}
.sldier_imgBox::before,.layer_imgBox:before {content: ''; position: absolute; left:-30px; top:-25px; width: 100%; height:100%; z-index: 2; background:url('images/dot-bg.png') no-repeat center/cover;  transition: .3s;}
.sldier_imgBox:after,.layer_imgBox:after {content: ''; position: absolute; left: -40px top: 25px; width: 100%; height:100%; border: 4px solid var(--point-rgb-color); z-index: -1; transform: skew(-2deg, -3deg); transition: .3s;}
.sldier_imgBox img {vertical-align: middle;}
.swiper-container2 { width: 100%; height: 100%; position: relative;}
.swiper-button-prev2,.swiper-button-next2 { position: absolute; top:50%;}
.swiper-button-prev2 {left:0;}
.swiper-button-next2 {right:0;}

 .swiper-slide {
   font-size: 18px;
   color:#fff;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   padding: 40px 60px;
 }
 .parallax-bg {
   position: absolute;
   left: 0;
   top: 0;
   width: 130%;
   height: 100%;
   -webkit-background-size: cover;
   background-size: cover;
   background-position: center;
 }
 .swiper-slide .title {
   font-size: 41px;
   font-weight: 300;
 }
 .swiper-slide .subtitle {
   font-size: 21px;
 }
 .swiper-slide .text {
   font-size: 14px;
   max-width: 400px;
   line-height: 1.3;
 }
